// Colors

// PM COLORS
$white: #ffffff;
$black: #000000;
$grey: #c1c1c1;

$lightGrey: rgba(193, 193, 193, 0.51);
$superLightGrey: rgba(193, 193, 193, 0.1);
$gunmetal: #746f62;
$blue: #305b86;
$yellowGold: #dbb36d;
$roseGold: #cb9e7f;
$fuschia: #9d2463;
$purple: #5b2e8e;
$red: #b7092d;
$green: #008752;
$teal: #008982;
$copper: #8a572e;

$indigo: #6574cd;
$pink: #f66D9b;
$orange: #f6993f;
$yellow: #ffed4a;
$cyan: #6cb2eb;


